.container + .container {
  margin-left: 10px;
}

.container {
  width: calc((100% / 7) - 10px);
}

.contentWrapper {
  border-radius: 6px;
  mix-blend-mode: normal;
  padding: 10px 7px;
  background-color: rgba(243, 245, 248, 0.8);
  height: calc(100% - 24px);
}

.weekDay {
  padding-bottom: 10px;
  color: #6a7988;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  height: 24px;
}

.monthDay {
  padding-bottom: 10px;
  color: #728096;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.today {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  color: #5a57cb;
}
